<ion-tabs class="auton-tabs">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="comodos">
      <ion-icon size="small" src="./assets/icon/tabs/comodos.svg"></ion-icon>
      <ion-label>Comodos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cenas">
      <ion-icon size="small" src="./assets/icon/tabs/cenas.svg"></ion-icon>
      <ion-label>Cenas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon size="small" src="./assets/icon/tabs/perfil.svg"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
