<div class="card-comodo-container" (click)="irParaDispositivos()">
  <div class="card-comodo">
    <span>
      <ion-icon class="comodo-icon"></ion-icon>
    </span>
    <div class="infos">
      <ion-icon class="comodo-icon" [src]="icon" style="font-size: 32px;color: #EE6946;"></ion-icon>
      <span class="comodo-nome">{{comodo.name}}</span>
    </div>
    <a class="icon-abrir-detalhes">
      <ion-icon src="./assets/icon/seta_direita.svg" style="font-size: 18px;color: #EE6946;">
      </ion-icon>
    </a>
  </div>
</div>