.teclado {
    .teclado-header {
        display: flex;
        align-items: center;

        padding: 20px 0 20px 20px;
        .title {
            margin-left: 30px;
            color: #fff;
            text-transform: uppercase;
        }

        .close-icon {
            font-size: 30px;
            color: #8A8A8A;
        }
    }

    .divisoria {
        border-bottom: 1px solid #1e2327;
    }

    .teclado-content {
        padding: 30px;
        display: flex;
        flex-direction: column;

        .linha {
            display: flex;
            align-items: center;
            justify-content: center;

            app-botao-circular {
                &:not(:last-of-type) {
                    margin-right: 25px;
                }
            }

            &:not(:last-of-type) {
                margin-bottom: 25px;
            }

            .linha-1 {
            }

            .linha-2 {
            }

            .linha-3 {
            }

            .linha-4 {
            }
        }
    }
}
