.controlhe-tv {
    .header {
        .botoes-container {
            display: flex;
            align-items: center;

            app-botao-circular {
                height: 50px;
                width: 50px;
            }
        }

        .btn-power-on {
        }

        .btn-power-off {
            margin-left: auto;
        }
    }

    .divisoria {
        margin: 16px -35px;
        border-bottom: 1px solid #3c4347;
    }

    .primeira-linha {
        margin-top: 50px;
        display: flex;
        height: 250px;

        app-controle-direcional {
            margin-top: auto;
        }

        .botoes-canais {
            margin-left: auto;
            display: flex;
            flex-direction: column;

            .texto {
                text-align: center;
                margin: 20px 0;
                font-weight: 300;
                font-size: 10px;
                letter-spacing: 0.35em;
                color: #f9fafb;
            }

            app-botao-circular {
                width: 50px;
                height: 50px;
            }
        }

        .botoes-volume {
            margin-right: auto;
            display: flex;
            flex-direction: column;

            .texto {
                text-align: center;
                margin: 20px 0;
                font-weight: 300;
                font-size: 10px;
                letter-spacing: 0.35em;
                color: #f9fafb;
            }

            app-botao-circular {
                width: 50px;
                height: 50px;
            }
        }
    }

    .botoes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-of-type) {
                margin-right: 30px;
            }

            .icon-label {
                margin-top: 7px;

                font-family: Fracktif;
                font-weight: 300;
                font-size: 10px;
                letter-spacing: 0.14em;
                text-align: center;
                color: #f9fafb;
                text-transform: uppercase;
            }
        }

        &-baixo {
            margin-top: 35px;

            app-botao-circular {
                width: 50px;
                height: 50px;
            }
        }

        &-acima {
            margin-top: 50px;
            .btn-container {
                &:not(:last-of-type) {
                    margin-right: 60px;
                }

                .btn-cima {
                    height: 60px;
                    width: 60px;
                    font-size: 18px;
                }
            }
        }
    }
}
