<div class="card-comodo-dispositivo">
  <div class="card-dispositivo">
    <span>
      <ion-icon class="dispositivo-icon"></ion-icon>
    </span>
    <div class="infos">
      <ion-icon class="dispositivo-icon" [src]="icon" style="font-size: 32px;color: orange;"></ion-icon>
      <span class="dispositivo-nome">Teste</span>
    </div>
    <a class="icon-abrir-detalhes" (click)="irParaDispositivos()">
      <ion-icon src="./assets/icon/seta_direita.svg" style="font-size: 18px;color: orange;">
      </ion-icon>
    </a>
  </div>
</div>